<%= form_with model: @food, local: true do |form| %>
 <p><%= form.label :name %> <%= form.text_field :name, required: true %></p> 
 <p><%= form.label :comment %> <%= form.text_area :comment %></p>
 <p><%= form.file_field :image, accept: "image/png,image/jpeg,image/jpg,image/gif" %></p>
 <%= form.submit "送信" %>
<% end %>